.navBar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
}

.innerContainerNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addressesContainer {
    display: flex;
}