@import './FontsStyles/FontsStyles.scss';
@import './DarkTheme/DarkTheme.scss';
@import './LightTheme/LightTheme.scss';


body {
    margin: 0;
    box-sizing: border-box;
}
.main {
    width: 100%;
    height: 100vh;
}


.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}


